/* app css stylesheet */

/**Fonts**/
.arvo {
  font-family: 'Arvo', serif;
}

.header {
  font-size: 72px;
}

.subheader {
  font-size: 36px;
}

.header, .subheader {
  font-weight: bold;
  color: #ffffff;
}

.mini-divider {
  width: 50%;
  margin-left: 25%;
}

/**Colors**/
.white {
  color: #ffffff;
}

/**Alignments**/
.center {
  text-align: center;
}

.flat-blue {
  background-color: #3498db;
}

.flat-dark-blue {
  background-color: #2980b9;
}

.flat-green {
  background-color: #2abb67;
}

.flat-gray-blue {
  background-color: #34495e;
}

.flat-pumpkin {
  background-color: #d35400;
}

.main-content {
  height: 1200px;
}

.social-links {
  height: 75px;
  padding-top: 10px;
}

.social-links a {
  padding-right: 20px;
}
