/* app css stylesheet */

/**Fonts**/
.arvo {
  font-family: 'Arvo', serif;
}

.header {
  font-weight: bold;
  font-size: 68px;
}

.subheader {
  font-weight: bold;
  font-size: 36px;
}

/**Colors**/
.white {
  color: #ffffff;
}

/**Alignments**/
.center {
  text-align: center;
}

.flat-blue {
  background-color: #3498db;
}

.flat-dark-blue {
  background-color: #2980b9;
}

.flat-green {
  background-color: #2abb67;
}

.flat-gray-blue {
  background-color: #34495e;
}

.flat-pumpkin {
  background-color: #d35400;
}

.main-content {
  height: 2000px;
}
