/* app css stylesheet */

.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

/**Fonts**/
.arvo {
  font-family: 'Arvo', serif;
  font-size: 68px;
}

/**Colors**/
.white {
  color: #ffffff;
}

/**Alignments**/
.center {
  text-align: center;
}

.main-background-layer {
  height: 800px;
}

.flat-blue {
  background-color: #3498db;
}

.flat-dark-blue {
  background-color: #2980b9;
}

.flat-green {
  background-color: #2abb67;
}

.flat-gray-blue {
  background-color: #34495e;
}

.flat-pumpkin {
  background-color: #d35400;
}
