.blog-area {
    background-color: #ffffff;
    margin: auto;
    float: center;
    width: 75%;
    box-shadow: 0 20px 40px rgba(0,0,0,0.19), 0 16px 16px rgba(0,0,0,0.23);
    border-radius: 2px;
}

.blog-post {
  text-align: center;
  padding: 20px;
}

.blog-post .author {
  font-size: 16px;
}

.blog-post .date {
  font-size: 16px;
  padding-bottom: 10px;
}

.blog-post .title {
  font-size: 36px;
}

.blog-post .body {
  font-size: 16px;
  text-align: justify;
}
